.sidenav{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100%;
    z-index: 1;
    background-color: #9ea0a5;
    overflow-x: hidden;
    display: inline-block;
    vertical-align: top;

}

#mobile-menu-btn{
    display: inline-block;
}


@media screen and (min-width: 801px){
    #stage{
        /* width: 79%; */
        display:inline-block;
    }
    .sidenav {
        width: 20%;
    }
    #menu{display:none;}
    body:not(".is-home") .sidenav {
		display: inline-block;
	}
}

@media screen and (max-width: 800px){
    #stage{
        width: 100%;
        display:inline-block;
        
    }

    .sidenav {
        position: absolute;
        width: 250px;
        display: none;
    }
    #menu{display: inline-block;}
}

#sidenav {
    overflow-y: auto;
}

#menu    {
	background: #fff;
	color: #556893;
	padding: 11px 15px;
	/*border-radius: 25px;*/
	/*box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);*/
	transition: all ease-in-out 300ms;
    font-size:20pt; 
    cursor:pointer;
    vertical-align: middle;
}

.sidenav-mobile-open{
    display: block !important;
}

.user-pic{
    font-size: 36pt;
    padding-top: 10px;
    padding-right: 10px;
    display: inline-block;
}
.user{
    float: left;
    width: 100%;
    color: #fff;
    font-size: large;
    padding-left: 16px;
    padding-bottom: 20px;
    min-height: 100px;
}

.user-info-top{
    font-weight: 600;
    margin-top:15px;
    text-align: center;
}

.user-body{
    display:inline-block;
}

.user-info-side{
    display: inline-block;
    width: 62%;
    overflow-wrap: anywhere;
    font-size: small;
    text-align: left;
}

.side-menu-item{
    min-height: 100px;
}

.side-menu-item a, .dropdown-btn {
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s;
}

.side-menu-item i {
    color: rgba(0,0,0,0.6);
    display: block;
    min-width: 45px;
    font-size: 2.0rem;
    margin-bottom: 0.3em;
}

.side-menu-item{
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s;
    height: fit-content;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border-bottom: none;
    list-style: none;
}

.sidenav a:hover {
    color: #9cbeca;
}

.sidenav{
    float:left;
    width:unset;
    background-color:white;
    color:black !important;
}

@media screen and (max-width: 800px){
    .sidenav{
        width:100%;
        height:unset;
    }
}
.user{
    display:none;
}

span#menu {
    display: inline-block;
}

@media screen and (min-width:750px){

    .sidenav{
        float:unset;
    }
    
    li.side-menu-item {
        display: inline-block;
    }
}

