
.fullscreen #container-left {
    display: none;
}

.fullscreen #stage {
    width: 100% !important;
}

.fullscreen #stage-content {
    height: 100vh;
}

#header {
    transition: height 0.3s ease-in-out 0.5s;
    overflow: hidden;
}

.fullscreen #header {
    height: 0px;
}

#container {
    transition: padding-top 0.3s ease-out 1.0s;
}

.fullscreen #container {
    padding-top: 0px;
}

.doc {
    display: inline-block;
    text-align: center;
    width: 45%;
    vertical-align: top;
    margin-bottom: 40px;
}

.doc-title {

    padding-top: 4px;
    font-family: "Roboto", sans-serif;
    /* text-transform: uppercase; */
    font-size: 16.5px;
    font-weight: 600;
}

.doc span {
    display: block;
}

a{
    text-decoration:none;
}

span#menu {
    display: inline-block;
}

div#sidenav{
    position:fixed;
}

@media screen and (min-width:750px){
    div#sidenav {
        position: fixed;
        height: 100%;
        width: 100%;
        top:75px;
    }
}

@media screen and (max-width:400px){
    #logo{
        width:unset;
    }
}

@media screen and (max-width:300px){
    #logo img{
        max-width: 100px;
    }
}

.sidenav{display:none;}