

li.table-cell {
	list-style: none;
}
ul.table-row {
	margin-bottom: 15px;
}


@media screen and (min-width: 800px) {

	.table {
		display:table;
	}

	.table-row {
		display:table-row;
	}

	.table-header, .table-cell {
		display:table-cell;
		padding:3px;
		border-bottom: 1px solid #ccc;
	}

	.table-header {
		font-weight: bold;
	}


}