[submodule "dev_modules/node-view"]
	path = dev_modules/node-view
	url = https://github.com/ocdladefense/node-view.git
	branch = main
[submodule "content/themes/default"]
	path = content/themes/default
	url = git@github.com:ocdladefense/appserver-theme-default.git
[submodule "node-query-builder"]
	path = node-query-builder
	url = git@github.com:ocdladefense/node-query-builder.git
