
<IfModule mod_alias.c>
    RedirectMatch 403 /xmlrpc.php
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
# NEW RULE HERE FOR THE PATH OF OUR APPLICATION SERVER (SERVICE WORKER)
RewriteRule sw modules/webconsole/assets/worker/sw.js [END]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /public/app.php [L]
</IfModule>

<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin "*"
	Header set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
	Header set Access-Control-Max-Age "1000"
	Header set Access-Control-Allow-Headers "x-requested-with, Content-Type, origin, authorization, accept, client-security-token"
</IfModule>
