
.drop-area {

    margin-bottom: 1rem;
    border: 2px dashed black; height: 200px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    overflow: auto;
}

.drop-area-default {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    height: 100%;
    width: 100%;
}

.show-drop-area {

    background-color: #ddd;
    box-shadow: 0 0 3pt 2pt darkblue;
}

.drop-area-label {

    position: relative;
    background-color: rgba(0,0,255,0.4);
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    top: 70%;
    color: white;
    pointer-events: none;
    transition: all 0.25s ease-in-out;
}


.drop-submit {
    
    margin: 1rem 0;
    width: 100%;
    display: none;
}


.show-drop-submit {

    display: block;
}



.drop-file-input {

    display: none;
}

.file-preview {

    overflow: hidden;
    background-color: red;
    border-radius: 4px;
    margin: 1rem;
}

.file-preview-label {

    color: #eee;
    margin: 10px 20px;
}


.hide-label {

    display: none;
}


.highlight .drop-area {

    background-color: rgba(255,255,255,0.4);
    display: block;
    /* box-shadow: 0 0 3pt 2pt blue; */
}

.drop-area:hover > .drop-area-label {

    color: red;
}