.main-content {
    text-align: left;
}


.table-cell.table-cell-Counter {
    display:none;
}

/**
 * Displays the report query (for admin use only)
 */
#query-builder-query {
    display: none;
}

.show-query {
    display: block !important;
}



/**
 * Structural elements for displaying search results.
 * Defaults to mobile friendly.
 */    
.table {
    display:block;
}

.table-row {
    display:block;
}

.table-cell {
    display:block;
    color: #16315a;
}
    


/**
 * Results Header
 */
#report-results-header {
  display: flex;
  margin-bottom: 5px;
}

#report-results-header-right {
  max-width: 15%;
}



/**
 * Results Buttons
 */
.report-results-button {
  text-decoration: none;
  background-color: #F0F0F0;
  color: black;
  cursor: pointer;
  border: 1px solid #888888;
  padding: 2px;
  margin: 1em 0;
  border-radius: 2px;
  display: flex;
  width: 125px;
  justify-content: center;
}

.report-results-button:hover {
  border-color: black;
}
 
#back-button img[id*="report-back-icon"] {
  max-width: 16px;
  margin-right: 5px;
}



/**
 * Results Table
 */
.results-table-wrap {
    max-height: none;
    border: 1px solid #e1e6ef;
    border-radius: 4px;
}

.results-table {
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
  width:100%;
  white-space: nowrap;
}



/**
 * Results Table Row
 */
.table-row{
    display: block;
    background-color: #fff;
    padding: 12px;
    list-style: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 13px;
}



/**
 * Results Heading (Hidden on mobile)
 */
.results-table .table-row:first-child {
    display:none;
}



/**
 * Results Table Cells
 */ 
.results-table .table-cell {
  border: 1px solid #e1e6ef;
  padding: 6px 10px;
}

.results-table p {
  font-family:'Salesforce Sans', Arial, sans-serif;
  font-size: 12px;
  margin: auto;
}



/**
* Mobile style field labels
*/
.field-label {
	display:inline-block;
    padding-right:12px;
    font-weight:bold;
}




@media screen and (min-width: 650px) {
        
    .table-cell.table-cell-Counter {
        display:table-cell;
    }
    
    /**
     * Structural elements for displaying search results.
     * Large screen layout
     */ 
    .table {
        display:table;
    }
    
    .table-row {
        display:table-row;
    }
    
    .column-header, .table-cell {
        display:table-cell;
    }

    .column-header {
        text-transform: capitalize;
    }
    
        
    .table-cell-Counter {
        display:block;
    }
    
    
    /**
     * Display buttons side-by-side
     */
    #report-results-button-container {
    	display: flex;
	}
    
    #download-csv-button {
    	margin-left: 5px;
	}
    
    
    
    /** 
    *  enforces scrolling by assigning a fixed height.
    */
    .results-table-wrap {
        overflow: auto;
        max-height: 60vh;
    }
    
    
    
    /**
     * Results Heading
     */
    .results-table .table-row:first-child {
    	display:table-row;
        color: #6b6d70;
        font-weight: bold;
        z-index: 2;
        border-bottom: 1px solid #a8b8c7;
	}
    
    
    
    /**
     * makes results header sticky
     */
    .results-table .table-row:first-child li {
        background-color: #f2f2f3;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    
    
    
    /**
     * hides mobile style field labels on large screens
     */
    .field-label {
        display:none;
    }       
}